Language:    Cpp
IndentWidth: 4
AlignEscapedNewlines: Left
Cpp11BracedListStyle: false
AlignConsecutiveMacros: 'true'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '80'
TabWidth:        4
UseTab:          Never
ForEachMacros:
  - forever # avoids { wrapped to next line
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IncludeCategories:
  - Regex:           '^<Q.*'
    Priority:        200
BreakBeforeBraces: Custom
BraceWrapping: {
    AfterClass: 'false'
    AfterControlStatement: 'false'
    AfterEnum : 'false'
    AfterFunction : 'true'
    AfterNamespace : 'true'
    AfterStruct : 'false'
    AfterUnion : 'false'
    BeforeCatch : 'false'
    BeforeElse : 'false'
    IndentBraces : 'false'
}
AlignAfterOpenBracket: Align
