[Desktop Entry]
Name=QTask
Comment=An open-source organizer based on Taskwarrior
Exec=qtask
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=qtask
Categories=Qt;Office;Calendar;
StartupNotify=true
